* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #3c0bdd;
  background-color: #837e7e;
  margin: 0;
  padding: 0;
  text-align: justify;
}

